.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.form {
  width: 100%;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
