.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 3.75rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.3125;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0.6);
  // box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.27);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #48be96;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: darken(#48be96, 20);
}
